BODY {
	FONT-FAMILY: SongTi, Tahoma, sans-serif; BACKGROUND-COLOR: #369
}
BODY {
	FONT-SIZE: 9pt
}
H4 {
	FONT-SIZE: 9pt
}
P {
	FONT-SIZE: 9pt
}
#msgbnr {
	FONT-SIZE: 9pt
}
H2 {
	COLOR: #369
}
H3 {
	COLOR: #369
}
H4 {
	COLOR: #369
}
#su LI {
	COLOR: #369
}
BODY {
	COLOR: #fff
}
BODY A {
	COLOR: #fff
}
#ft {
	COLOR: #fff
}
#ft2 LI {
	COLOR: #fff
}
P {
	COLOR: #000
}
#ppui {
	COLOR: #000
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#hd {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#signup {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#msgbnr {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#q {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#swti {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#hd {
	WIDTH: 768px
}
#ti {
	WIDTH: 768px
}
#ft {
	WIDTH: 768px
}
#ft2 {
	WIDTH: 768px
}
#frmhd {
	WIDTH: 768px
}
#frmft {
	WIDTH: 768px
}
#hd {
	FONT-WEIGHT: bold
}
#hd A {
	FONT-WEIGHT: bold
}
#msgbnr A {
	FONT-WEIGHT: bold
}
H4 {
	FONT-WEIGHT: bold
}
#sw {
	POSITION: absolute
}
#lg {
	POSITION: absolute
}
#lg2 {
	POSITION: absolute
}
#ti2 {
	POSITION: absolute
}
#fn {
	POSITION: absolute
}
#fn2 {
	POSITION: absolute
}
#msgbnr {
	POSITION: absolute
}
#rad {
	POSITION: absolute
}
#radft {
	POSITION: absolute
}
#frmhd {
	POSITION: absolute
}
#frmft {
	POSITION: absolute
}
#frmsu {
	POSITION: absolute
}
#ppui {
	POSITION: absolute
}
#sws {
	POSITION: absolute
}
#q {
	POSITION: absolute
}
#abt {
	POSITION: absolute
}
#abt2 {
	POSITION: absolute
}
A {
	TEXT-DECORATION: none
}
BUTTON {
	TEXT-DECORATION: none
}
H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 24px
}
H2 {
	FONT-SIZE: 20px
}
H3 {
	FONT-SIZE: 16px
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
P {
	MARGIN: 0px 0px 5px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#b7 LI {
	PADDING-RIGHT: 0.6em; PADDING-LEFT: 0.7em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#lgl LI {
	PADDING-RIGHT: 0.6em; PADDING-LEFT: 0.7em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#lgl2 LI {
	PADDING-RIGHT: 0.6em; PADDING-LEFT: 0.7em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#abt LI {
	PADDING-RIGHT: 0.6em; PADDING-LEFT: 0.7em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#abt2 LI {
	PADDING-RIGHT: 0.6em; PADDING-LEFT: 0.7em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#b7 LI {
	DISPLAY: inline
}
#lgl LI {
	DISPLAY: inline
}
#lgl2 LI {
	DISPLAY: inline
}
#abt LI {
	DISPLAY: inline
}
#mb LI {
	DISPLAY: inline
}
#abt2 LI {
	DISPLAY: inline
}
#abt LI {
	LIST-STYLE-TYPE: none
}
#mb LI {
	LIST-STYLE-TYPE: none
}
#lgl LI {
	LIST-STYLE-TYPE: none
}
#lgl2 LI {
	LIST-STYLE-TYPE: none
}
#abt2 LI {
	LIST-STYLE-TYPE: none
}
#b7 LI {
	BORDER-LEFT: #fff 1px solid
}
#b7 LI.first {
	BORDER-LEFT: medium none
}
#b7 LI.first {
	PADDING-LEFT: 0px
}
#lgl LI.first {
	PADDING-LEFT: 0px
}
#lgl2 LI.first {
	PADDING-LEFT: 0px
}
#su LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 15px; PADDING-TOP: 5px; LIST-STYLE-TYPE: disc
}
#lgl LI {
	MARGIN: 0px 0px 0px 15px
}
#lgl2 LI {
	MARGIN: 90px 0px 0px 15px
}
#abt {
	LEFT: 565px; WIDTH: 200px; TOP: 5px; TEXT-ALIGN: right
}
#abt2 {
	LEFT: 565px; WIDTH: 200px; TOP: 95px; TEXT-ALIGN: right
}
#mb LI {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#hd {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px
}
#b7 {
	WIDTH: 505px
}
#q {
	LEFT: 90px; WIDTH: 140px; TOP: -4px
}
#sw {
	LEFT: 511px; WIDTH: 255px; TOP: 10px
}
#swti {
	DISPLAY: block; WIDTH: 82px; TEXT-ALIGN: right
}
#sws {
	LEFT: 241px; WIDTH: 18px; TOP: -2px; HEIGHT: 18px
}
#ti2 {
	BORDER-TOP: #629cc4 1px solid; BACKGROUND-COLOR: #2d72aa
}
#fn2 {
	BORDER-TOP: #629cc4 1px solid; BACKGROUND-COLOR: #2d72aa
}
#lg {
	LEFT: 0px; TOP: 40px
}
#lg2 {
	LEFT: 115px; TOP: 52px
}
#ti2 {
	LEFT: 0px; WIDTH: 200px; TOP: 75px; HEIGHT: 8px
}
#fn {
	BACKGROUND: url(images/fin.jpg) no-repeat left top; LEFT: 200px; WIDTH: 113px; TOP: 40px; HEIGHT: 44px
}
#fn2 {
	LEFT: 310px; WIDTH: 458px; TOP: 50px; HEIGHT: 34px
}
#msgbnr {
	BORDER-TOP: #86b2cf 1px solid; LEFT: 0px; WIDTH: 748px; LINE-HEIGHT: 24px; BORDER-BOTTOM: #10659e 1px solid; TOP: 84px; HEIGHT: 26px; BACKGROUND-COLOR: #4791c5
}
#signup {
	BACKGROUND: url(images/env.jpg) #deebf5 no-repeat right top
}
#sub {
	MARGIN: 4px 0px 4px 15px
}
#ft {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#ft2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 95px
}
#rad {
	LEFT: 20px; WIDTH: 728px; TOP: 36px; HEIGHT: 90px
}
#radft {
	LEFT: 20px; WIDTH: 728px; TOP: 0px; HEIGHT: 90px
}
#frmhd {
	LEFT: 0px; TOP: 0px; HEIGHT: 200px
}
#frmsu {
	LEFT: 0px; WIDTH: 460px; TOP: 110px; HEIGHT: 335px
}
#frmft {
	LEFT: 0px; TOP: 446px; HEIGHT: 115px
}
#ppui {
	LEFT: 460px; WIDTH: 308px; TOP: 110px; HEIGHT: 335px; BACKGROUND-COLOR: #deebf5
}
#signup BUTTON {
	COLOR: #000
}
